/* Break points*/
$desktop: 1000px;
$tablet: 768px;

/* Z-index */
$zIndexContent: 2;
$zIndexHeader: 9;

/* Colors */
$primary: #37b7cb;
$secondary: #ea4f69;
$white: #fff;
$greyLight: #eee;
$greyDark: #34495e;
$facebook: #4267b2;
$meetup: #f64060;

/* Fonts */
$fontPrimary: 'Signika Negative', sans-serif;
$fontSecondary: 'Source Sans Pro', sans-serif;
