@import '../../styles/variables';

.Header {
  position: fixed;
  width: 100%;
  z-index: $zIndexHeader;
  padding: 24px;
  background-color: $primary;
  border-bottom: 4px solid #3190b6;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  padding: 0 4px;
}

.nav-link {
  margin: 0 4px;
  color: #fff;
  font-family: $fontPrimary;
  text-decoration: none;
  text-transform: uppercase;
}
